services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: msm
      POSTGRES_PASSWORD: Mk123456
      POSTGRES_DB: swapwithusDB
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:  # Wait until DB is ready
        test: ["CMD-SHELL", "pg_isready -U msm -d swapwithusDB"]
        interval: 5s
        timeout: 5s
        retries: 5

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
volumes:
  db_data:
  redis_data:
