asyncpg==0.30.0
SQLAlchemy==2.0.44
psycopg2-binary==2.9.11
firebase_admin==7.1.0
fastapi==0.119.1
python-multipart==0.0.20
aiohttp==3.13.1
google-cloud-storage==3.4.1
google-cloud-iam==2.20.0
uvicorn==0.38.0
pillow==12.0.0
async-lru==2.0.5
slowapi==0.1.9
redis==7.0.0
email-validator==2.3.0
pydantic==2.12.3
pydantic-core==2.41.4